.brightness img {
  filter: brightness(2);
}

.contrast img {
  filter: contrast(2);
}

.grayscale img {
  filter: grayscale(1);
}

.sepia img {
  filter: sepia(1);
}

.invert img {
  filter: invert(0.3);
}

.saturate img {
  filter: saturate(5);
}
