.wizard {
  top: 244px;
  left: 30px;
  transform: translateX(250px) translateX(-250px);
}

.tree-1 {
  top: 178px;
  left: 400px;
}

.tree-2 {
  top: 178px;
  left: 600px;
}

.target-1 {
    top: 100px;
    left: 550px;
}

.fireball-1 {
    top: -43px;
    right: 7px;
}

.hippo, .mouse, .wolf, .fence, .house, .wall  {
    position: absolute;
    z-index: 11;
    transform-origin: bottom center;
}

.hippo {
  transform: scale(0.25);
}

.mouse {
  transform: scale(3);
}

.fence-1 {
  transform: rotate(90deg) translateX(-75px) translateY(-50px);
}

.wall-2, .wall-3 {
    top: 110px;
    left: 128px;
    width: 178px;
    height: 80px;
}

.wall-4, .wall-5 {
    top: 190px;
    left: 305px;
    width: 140px;
    height: 260px;
}

.wall-1 {
    top: 300px;
    left: 0;
    width: 150px;
    height: 40px;
}

.wall-3 {
    top: 0;
    left: 400px;
    width: 250px;
}

.wall-5 {
    top: 80px;
    left: 550px;
    width: 100px;
}

.wizard-labirint {
  top: 344px;
  left: 10px;
}

.wall-1::before {
    content: "1";
    top: -105px;
    left: 0;
}

.wall-4::before {
    content: "2";
    top: -105px;
    left: 5px;
}

.wall-5::before {
    content: "3";
    bottom: -111px;
    left: -40px;
}

.wall::before {
    position: absolute;
    z-index: 9;
    width: 96px;
    height: 106px;
    background: url(../images/wizard-shadow.png) 0 0 no-repeat;
    color: #f5f5f5;
    text-indent: 5px;
    font-size: 20px;
}

.scroll {
    width: 50px;
    height: 52px;
    background: url(../images/scroll.png) 0 0 no-repeat;
    cursor: pointer;
}

.scroll-image {
    position: fixed;
    top: 150px;
    left: 50%;
    z-index: 100;
    margin-left: -125px;
    box-shadow: 0 0 20px 2px #333;
    cursor: pointer;
}

.scroll-image::before {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    content: "✕";
    font-size: 25px;
}

.broken-diamond, .scroll {
    position: absolute;
    top: 300px;
    left: 425px;
    z-index: 11;
    animation-name: loot;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
