.wizard {
  top: 244px;
  left: 30px;
  transform: translateX(250px) translateX(-250px);
}

.tree-1 {
  top: 178px;
  left: 400px;
}

.tree-2 {
  top: 178px;
  left: 600px;
}

.target-1 {
    top: 100px;
    left: 550px;
}

.fireball-1 {
    top: -43px;
    right: 7px;
}

.hippo, .mouse, .wolf, .fence, .house  {
    position: absolute;
    z-index: 11;
    transform-origin: bottom center;
}

.hippo {
  transform: scale(0.25);
}

.mouse {
  transform: scale(3);
}

.fence-1 {
  transform: rotate(90deg) translateX(-75px) translateY(-50px);
}
